@font-face {
    font-family: "Comic Sans MS";
 
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans MS";
   
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans MS";
  
    font-weight: 700;
    font-style: normal;
}

